NEXT_PUBLIC_IDENTITY_URL=http://localhost:5001
NEXT_PUBLIC_TENANT_URL=http://localhost:5003
NEXT_PUBLIC_CATALOG_URL=http://localhost:5004
NEXT_PUBLIC_INVENTORY_URL=http://localhost:5005
NEXT_PUBLIC_ORDER_URL=http://localhost:5006
NEXT_PUBLIC_PAYMENT_URL=http://localhost:5007
NEXT_PUBLIC_NOTIFICATION_URL=http://localhost:5011
NEXT_PUBLIC_ANALYTICS_URL=http://localhost:5012
NEXT_PUBLIC_PHARMACY_URL=http://localhost:5008
NEXT_PUBLIC_RESTAURANT_URL=http://localhost:5010
NEXT_PUBLIC_CLOTHING_URL=http://localhost:5013
NEXT_PUBLIC_SUPERSHOP_URL=http://localhost:5014
